<h1>Profile</h1>

<strong>User:</strong> <%= @user.email %>

<%= button_to 'Change Password', edit_user_registration_path, :method => :get %>
<%= button_to 'Logout', destroy_user_session_path, :method => :delete %>