<h1>Formats</h1>

<% if !signed_in? && !@formats.empty? -%>
  You are currently a guest user. Please log in to create formats and to access all other restricted sites. View the
  formats below or visit the Preview page.
<% elsif @formats.empty? && !signed_in?-%>
  You are currently a guest user. There are also no formats yet. Please log in to create formats and to access all other restricted sites.
<% elsif @formats.empty? -%>
  You are logged in. There are no formats yet. Start creating some by pressing "Create Format". Afterwards there will also be the Preview available!
  <br/>
<% end -%>

<% unless @formats.empty? %>
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @formats.each do |format| %>
      <tr>
        <td><%= format.title %></td>
        <td align="right"><%= link_to ' Edit', edit_format_path(format),
                        class: "btn btn-sm btn-outline-primary fa fa-edit" if signed_in? %>
          <%= link_to ' Delete', format_path(format),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: "btn btn-sm btn-outline-primary fa fa-trash" if signed_in? %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end -%>

<div>
  <br>
  <%= link_to ' Create Format', "formats/new",
              class: "btn btn-primary fa fa-plus" if signed_in? %>
</div>