<div class="container">
  <h1>Format</h1>

  <p>
    <strong>Title:</strong>
    <%= @format.title %>
  </p>

  <p>
    <strong>Date of Creation:</strong>
    <%= @format.created_at %>
  </p>


  <td><%= link_to "Download Specification", @format.attachment_url %></td>

  <footer>
    <%= link_to '< Formats', controller: 'formats' %>
  </footer>

</div>