<h1>Format</h1>

<p>
	<strong>Title:</strong>
	<%= @format.title %>
</p>

<p>
	<strong>Multiline:</strong> 
	<%= @format.multiline %>
</p>

<p>
  <strong>Date of Creation:</strong>
  <%= @format.created_at %>
</p>

<footer>
<%= link_to '< Formats', controller: 'formats' %>
</footer>