<%= javascript_include_tag "preview" %>

<h1>Preview</h1>

<% if @formats.empty? -%>
  There are no formats yet. Go to Formats to create one.
<% end %>

<div class="container" id="inputdiv">
  <p>
    Please select a Format:
  <%= select(@format, "format_id", @formats.collect {|f| [f.title, f.id] }, {prompt: "Select Format"}, {:class => "form-control"}) %>
  </p>
  <br>
  <p>
    Provide your example input in the area below:
    <br>
    <%= text_area(@input, "data_samples_input", {:class => "form-control", :style => "height:200px"}) %>
  </p>
</div>
<hr>

<div class="container">
  <pre>
    <div id="outputdiv">Preview currently not available. Please provide all inputs.</div>
  </pre>
</div>
