<%= javascript_include_tag "preview" %>

<h1>Preview</h1>

<% if @formats.empty? -%>
  There are no formats yet. Go to Formats to create one.
<% end %>

<div>
  <p>
    Please select a Format:
  <%= select(@format, "format_id", Format.all.collect {|f| [f.title, f.id] }, {prompt: "Select Format"}) %>
  </p>
  <br>
  <p>
    Provide your example input in the area below:
    <br>
    <%= text_area(@input, "data_samples_input") %>
  </p>
</div>

<div id="outputdiv">
  Preview currently not available. Either you have not provided an input yet or it has an invalid format.
</div>