<%= javascript_include_tag "preview" %>

<script>
    $(document).ready(function () {
        preview.setup();
    });
</script>

<!--suppress HtmlUnknownTag -->
<h1>Preview</h1>

<% if Format.all.empty? -%>
  There are no formats yet. Go to Formats to create one.
<% else -%>
  <div class="container" id="inputdiv">
    <div>
      Please select a Format:
      <%= collection_select(:format, :id, Format.all, :id, :title, {prompt: true}, {:class => "form-control"}) %>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-8">
        Provide your input in the area below or use the button to generate a random input:
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-primary fa fa-random" id="generate_sample_button" style="float:right" href=""> Generate Random Input</button>
          </div>
          <input type="number" class="form-control" id="number_of_lines" min="1" step="1" placeholder="# lines">
        </div>
      </div>
    </div>
    <br>
    <div class="container" id="data_samples_input" style="height: 400px;"></div>
    <form action="/preview/download" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type="hidden" name="data" id="data" />
    <input type="submit" value="Download as CSV" />
    </form>

  </div>
  <hr>

  <div class="container">
    <div class="scrollbar">
      <div id="outputdiv" class="table table-striped mono">Preview currently not available. Please provide all inputs.</div>
    </div>
  </div>
<% end %>