<%= javascript_include_tag "preview" %>

<!--suppress HtmlUnknownTag -->
<h1>Preview</h1>

<% if Format.all.empty? -%>
  There are no formats yet. Go to Formats to create one.
<% else -%>
<div class="container" id="inputdiv">
  <div>
    Please select a Format:
    <%= collection_select(:format, :id, Format.all, :id, :title, {prompt: true}, {:class => "form-control"}) %>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-10">
      Provide your input in the area below or use the button to generate a random input:
    </div>
    <div class="col-md-2">
      <button class="btn btn-outline-primary fa fa-random" id="generate_sample_button" style="float:right" href=""> Generate Random Input</button>
    </div>
  </div>
    <br>
  <%=text_area(@input, "data_samples_input", {:class => "form-control",:style => "height:200px", rodsaws:1, :maxlength =>10000})%>
</div>
<hr>

<div class="container">
  <div class="scrollbar">
    <div id="outputdiv" class="table table-striped mono">Preview currently not available. Please provide all inputs.</div>
  </div>
</div>
<% end %>