<div class="container">
  <!--<p id="notice"><%#= notice %></p>-->
  <h1>Uploads</h1>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Format ID</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= upload.attachment.file.filename %></td>
        <td><%= upload.format_id %></td>
        <td><%= link_to 'Show', upload %></td>
        <td><%= link_to 'Delete', upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>